@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: satoshiBold;
  src: url(../../public/fonts/Satoshi-Bold.otf);
}

@font-face {
  font-family: satoshiRegular;
  src: url(../../public/fonts/Satoshi-Regular.otf);
}



@media (max-width: 1060px) {
  .main-div {
    flex-direction: column;
  }
  .right-div {
    margin-top: 100px;
  }
}

@media (max-width: 820px) {
  .text-container {
    width: 80vw;
  }
}

body {
  background: linear-gradient(130deg, #000000 60%, #535353 100%);
  background-attachment: fixed;
}



.article-text h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: satoshiBold;
  margin-bottom: 10px;
}

.article-text img {
  border-radius: 2%;
}

.article-text p {
  font-family: satoshiRegular;
}
